<!-- [menuState]="isOpen" it's need for directives, which is controlling state components -->
<!-- <app-aside
  class="tablet"
  [ngClass]="{ close: !menuState, open: menuState }"
  escClose
  (menuClosedByESC)="onMenuClosed($event)"
  clickOutside
  (menuClosedByClick)="onMenuClosedByClick($event)"
  [menuState]="isOpen"
></app-aside> -->

<div class="createQRcode__title-wrap">
  <h2>Создать QR-код</h2>
</div>

<!-- ---------------- -->
<!-- section input ----->
<!-- ---------------- -->

<div class="createQRcode__body-wrap">
  <div class="createQRcode__body-center">
    <div class="createQRcode__body-wrapForm">
      <span>Предустановленные суммы чаевых</span>

      <div class="createQRcode__body-wrapForm-tips">
        <input-text
          [actualData]="inputSmallTip"
          (updateValue)="SendDataStore('inputID-1', $event)"
        ></input-text>
        <input-text
          [actualData]="inputMiddleTip"
          (updateValue)="SendDataStore('inputID-2', $event)"
        ></input-text>
        <input-text
          [actualData]="inputBigTip"
          (updateValue)="SendDataStore('inputID-3', $event)"
        ></input-text>
      </div>
    </div>

    <!-- ---------------- -->
    <!-- section checkbox -->
    <!-- ---------------- -->

    <div class="createQRcode__body-about">
      <span>{{ enumSwitcher.rate }}</span>
      <switcher [title]="enumSwitcher.rate"></switcher>
      <span>{{ enumSwitcher.feedback }}</span>
      <switcher [title]="enumSwitcher.feedback"></switcher>
      <span>{{ enumSwitcher.impressions }}</span>
      <switcher [title]="enumSwitcher.impressions"></switcher>
    </div>

    <!-- ------------------- -->
    <!-- section colorPicker -->
    <!-- ------------------- -->

    <div class="createQRcode__body-background">
      <span>Код цвета для подложки</span>
      <color-picker
        (userSetColor)="onClickSubstrate($event)"
        [color]="defaultColorSubstrate"
      ></color-picker>
    </div>

    <!-- ------------------ -->
    <!-- section uploadLogo -->
    <!-- ------------------ -->

    <div class="createQRcode__body-uploadLogo">
      <upload-logo (uploadLogo)="uploadLogo($event)"></upload-logo>
    </div>

    <!------------------- -->
    <!-- section colorBTN -->
    <!-- ---------------- -->

    <div class="createQRcode__body-setupColorBTN">
      <span>Код цвета для кнопки</span>
      <color-picker
        (userSetColor)="onClickColorBTN($event)"
        [color]="defaultColorBTN"
      ></color-picker>
    </div>

    <app-buttons [buttonData]="btnText"></app-buttons>
  </div>

  <div class="createQRcode__body-right">
    <user-preview></user-preview>
  </div>
</div>
