<div class="createQRcode__title-wrap">
  <h2>Создать QR-код</h2>
</div>

<!-- ---------------- -->
<!-- section input ----->
<!-- ---------------- -->

<div class="createQRcode__body-wrap">
  <div class="createQRcode__body-center">
    <div class="createQRcode__body-wrapForm">
      <span>Предустановленные суммы чаевых</span>

      <div class="createQRcode__body-wrapForm-tips">
        <input-user-tips
          [dataToInput]="inputSmallTip"
          (userInput)="userInputSmall($event)"
        ></input-user-tips>
        <input-user-tips
          [dataToInput]="inputMiddleTip"
          (userInput)="userInputMiddle($event)"
        ></input-user-tips>
        <input-user-tips
          [dataToInput]="inputBigTip"
          (userInput)="userInputBig($event)"
        ></input-user-tips>
      </div>
    </div>

    <!-- ---------------- -->
    <!-- section checkbox -->
    <!-- ---------------- -->

    <div class="createQRcode__body-about">
      <span>{{ enumSwitcher.rate }}</span>
      <switcher [title]="listSwitchKeys[0]"></switcher>
      <span>{{ enumSwitcher.feedback }}</span>
      <switcher [title]="listSwitchKeys[1]"></switcher>
      <span>{{ enumSwitcher.impressions }}</span>
      <switcher [title]="listSwitchKeys[2]"></switcher>
    </div>

    <!-- ------------------- -->
    <!-- section colorPicker -->
    <!-- ------------------- -->

    <div class="createQRcode__body-background">
      <span>Код цвета для подложки</span>
      <color-picker (userSetColor)="userSetColor($event)"></color-picker>
    </div>

    <!-- ------------------ -->
    <!-- section uploadLogo -->
    <!-- ------------------ -->

    <div class="createQRcode__body-uploadLogo">
      <upload-logo (uploadLogo)="uploadLogo($event)"></upload-logo>
    </div>

    <!------------------- -->
    <!-- section colorBTN -->
    <!-- ---------------- -->

    <div class="createQRcode__body-setupColorBTN">
      <span>Код цвета для кнопки</span>
      <color-picker (userSetColor)="userBTNcolor($event)"></color-picker>
    </div>

    <app-buttons [buttonData]="btnText"></app-buttons>
  </div>

  <div class="createQRcode__body-right">
    <user-preview></user-preview>
  </div>
</div>
