:host {
  cursor: pointer;
  display: block;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .isActive {
//   fill: red !important;
// }

// svg-icon:not(.isActive) {
//   fill: green;
// }
