@mixin flex($justify: center, $align: center, $fd: row, $gap: 5px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $fd;
  gap: $gap;
}

@mixin fontFormular(
  $ff: "Formular",
  $fstyle: normal,
  $fw: 400,
  $fsize: 16px,
  $lh: 22px
) {
  font-family: $ff;
  font-style: $fstyle;
  font-size: $fsize;
  font-weight: $fw;
  line-height: $lh;
}

.auth-phone-container {
  @include flex($gap: 0, $justify: start);
  height: 100vh;
  overflow-y: hidden;

  @media (max-width: 768px) {
    display: block;
  }

  &__enter {
    @include flex($gap: 0px, $fd: column);
    padding-top: 120px;

    background: #fff;
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  & spinner {
    --width: 50%;
  }

  &__img {
    @include flex($gap: 0, $align: start);
    align-self: stretch;

    background: #f4f5f7;
    width: 50%;
    padding-top: 120px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__top {
    @include flex($gap: 0);
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__bottom {
    min-height: 50vh;
  }

  &__userPhone {
    width: 100%;
    padding-top: 120px;

    & svg-icon {
      --mb: 106px;
    }

    & h1 {
      @include fontFormular($fw: 700, $fsize: 42px, $lh: 52px);

      color: #1b1d1f;
      margin-bottom: 50px;
    }

    & h1 + span {
      @include fontFormular();

      color: #313436;
      margin-bottom: 10px;
    }

    & input-text {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__switcher {
    @include flex($gap: 10px, $justify: start);
    margin-bottom: 20px;
  }

  &__buttons {
    @include flex($fd: column, $gap: 20px);
    width: 100%;

    & app-buttons {
      --width: 100%;
      --transition: 0.3s;
      align-self: stretch;
    }
  }
}
