<div class="auth-phone-container">
  <div class="auth-phone-container__enter">
    <spinner [spinnerConfig]="spinnerConfig"></spinner>
    <div class="auth-phone-container__top">
      <div class="auth-phone-container__userPhone">
        <svg-icon
          [iconID]="svgLogo.iconID"
          [width]="svgLogo.width"
          [height]="svgLogo.height"
        ></svg-icon>
        <h1>Вход в Tips.me</h1>
        <span>Номер телефона</span>

        <input-text
          [placeholder]="inputPhone.placeholder || ''"
          [type]="inputPhone.type || 'tel'"
          [disabled]="inputPhone.disabled || false"
          [value]="userData().phone"
          [dropSpecialCharacters]="inputPhone.dropSpecialCharacters || true"
          [mask]="inputPhone.mask || ''"
          (updateValue)="phoneNumber($event)"
          [prefix]="inputPhone.prefix || ''"
        ></input-text>
        <input-text
          [placeholder]="inputPassword.placeholder || ''"
          [type]="inputPassword.type || 'password'"
          (updateValue)="setPassword($event)"
        ></input-text>

        <div class="auth-phone-container__switcher">
          <switcher
            [featureToggle]="isSaveSwitcher"
            (updateSwitcher)="toggleSaveUser($event)"
          ></switcher>
          <span>Запомнить меня</span>
        </div>

        <div class="auth-phone-container__buttons">
          @if (!isLoginPage) {
            <app-buttons
              [text]="buttonDataRegister.text"
              [background]="buttonDataRegister.background"
              [borderRadius]="buttonDataRegister.borderRadius"
              [color]="buttonDataRegister.color"
              (click)="registration()"
            ></app-buttons>
          }

          <app-buttons
            [text]="buttonDataLogin().text"
            [background]="buttonDataLogin().background"
            [borderRadius]="buttonDataLogin().borderRadius"
            [color]="buttonDataLogin().color"
            [disabled]="buttonDataLogin().disabled"
            (click)="login()"
          ></app-buttons>
        </div>
      </div>
    </div>
    <div class="auth-phone-container__bottom"></div>
  </div>

  <div class="auth-phone-container__img">
    <picture>
      <source srcset="../../../assets/images/auth.webp" type="image/webp" />
      <source srcset="../../../assets/images/auth.jpg" type="image/jpg" />
      <img src="../../../assets/images/auth.png" alt="Авторизация" />
    </picture>
  </div>
</div>
