:host {
  position: relative;
  width: 100%;
  display: block;
  --width: 280px;
}
@mixin flex($justCont: center, $alignIt: center) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignIt;

  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);
}

.home-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  height: 100vh;

  grid-template-columns: var(--width) 1fr;
  grid-template-rows: 71px 1fr;

  grid-template-areas:
    "aside header"
    "aside main";

  background: #f9fafc;
  // min-width: 1100px;
  min-width: 375px;
}

.adaptive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: var(--width);
  height: auto;
}

.header {
  @include flex();

  grid-area: header;
  width: 100%;
  position: relative;
  max-height: 65px;
}

.headerWrap {
  @include flex(space-between);

  padding: 0 30px;
  width: 100%;
  height: 100%;
}

.aside {
  grid-area: aside;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);
  --width: var(--width);
}

.main {
  grid-area: main;
  width: 100%;
  // padding: 30px;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;

  opacity: 0;
  pointer-events: none;
  transition: opacity 2s;

  &.shadowActive {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 2s;
  }
}

app-aside.adaptive.close {
  transform: translateX(-100%);
  transition: transform 1s;
}

app-aside.adaptive.open {
  transform: translateX(0);
  transition: transform 1s;
  z-index: 100;
}

@media (max-width: 1385px) {
  .desctop {
    display: none;
  }

  .adaptive {
    display: block;
  }

  .home-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    // @include flex();
    // flex-direction: column;
    box-shadow: none;

    background: #f9fafc;
  }
}

@media (max-width: 520px) {
  .headerWrap {
    padding: 8px;
  }
}
