<div class="card__wrap" [style.background]="backgroundCard">
  {{ id }}

  <div class="card__title">
    <span>Ресторан Жиши-Суши</span>
    <svg-icon
      [iconID]="svgSetting.iconID"
      [width]="svgSetting.width"
      [height]="svgSetting.height"
      [fill]="svgSetting.fill"
    ></svg-icon>
  </div>

  <div class="card__body">
    <div class="card__body--qrWrap">
      <img [src]="src" alt="" />
    </div>
  </div>
  <div class="card__wallet">
    <app-buttons
      [text]="walletBTN().text"
      [background]="walletBTN().background"
      [borderStyle]="walletBTN().borderStyle"
    ></app-buttons>
  </div>

  <div class="card__footer">
    <div class="card__footer--left">
      <app-buttons
        [classSvgFonts]="chartIcon.iconClass"
        [background]="chartIcon.background"
        [borderStyle]="chartIcon.borderStyle"
      ></app-buttons>

      <app-buttons
        [classSvgFonts]="shareIcon.iconClass"
        [background]="shareIcon.background"
        [borderStyle]="shareIcon.borderStyle"
      ></app-buttons>
    </div>

    <div class="card__footer--right">
      <app-buttons
        [classSvgFonts]="editIcon.iconClass"
        [background]="editIcon.background"
        [borderStyle]="editIcon.borderStyle"
        (click)="editCard(id)"
      ></app-buttons>
      <app-buttons
        [classSvgFonts]="deleteIcon.iconClass"
        [background]="deleteIcon.background"
        [borderStyle]="deleteIcon.borderStyle"
        (click)="deleteCard(id)"
      ></app-buttons>
    </div>
  </div>
</div>
