<div class="title">
  <svg class="icon icon-Logout">
    <use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use>
  </svg>
</div>

<div class="aside-body">
  <div *ngFor="let item of generalGroup">
    <app-section [item]="item" [isActive]="item.ID === 6 || item.ID === 7 || item.ID === 8">
    </app-section>
  </div>


  <div class="support-wrapper">
    <div class="support">
      <img
        src="../../../assets/images/illustration.png"
        alt="Картинка support"
      />
      <app-buttons [btnText]="btnText"></app-buttons>
    </div>
  </div>

  <div *ngFor="let item of logOut">
    <app-section [item]="item">
    </app-section>
  </div>
</div>
