@for (radioBtn of radioConfig; track radioBtn.id) {
  <div class="radioButton" [class.isActive]="radioBtn.checked">
    <div class="radioButton__img">
      <input
        type="radio"
        name="nameRadio"
        [id]="radioBtn.id"
        (change)="setUser(radioBtn)"
      />
      <label [for]="radioBtn.id">
        <svg-icon [iconID]="radioBtn.icon"></svg-icon>
      </label>

      @if (radioBtn.imgSrc && radioBtn.imgAlt) {
        <img [src]="radioBtn.imgSrc" [alt]="radioBtn.imgAlt" />
      }
    </div>

    <span>{{ radioBtn.name }}</span>
  </div>
}
