<div class="wrapTop__title">
  <h2>Агентам</h2>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="wrapTop">
  <div class="wrapBody__article">
    <p>
      Агентом может быть как физическое лицо так и юридическое лицо. После
      регистрации вы получаете реферальную ссылку и промокод, которые
      закрепляются за вами. Со всех заказов привлеченных клиентов вы получаете
      свой процент.
    </p>

    <p>
      От вас не требуется никакое участие в процессе сделки с клиентом. Всю
      консультацию клиента, расходы по пересылке и доставке берет на себя
      интернет магазин. Вы можете находится в любой точке мира, главное чтобы
      ваши клиенты были из РФ, Белоруссии или Казахстана.
    </p>
  </div>
</div>

<div class="wrapBody__amount">
  <p>Здесь будет сумма: сто тыщ мульёнов</p>
</div>

<div class="wrapBody__table">
  <color-picker (userSetColor)="userSetColor($event)"></color-picker>
</div>

<div class="wrapBody__table">
  <stars-rate></stars-rate>
</div>
