<div class="createQRcode__title-wrap">
  <h2>Создать QR-код</h2>
</div>

<div class="createQRcode__body-wrap">
  <div class="createQRcode__body-center">
    <span>Предустановленные суммы чаевых</span>
    <div class="createQRcode__body-wrapForm" [formGroup]="myForm">
      <div class="createQRcode__body-inputContainer">
        <input
          type="text"
          formControlName="tips1"
          mask="separator"
          [thousandSeparator]="''"
        />
      </div>
      <div class="createQRcode__body-inputContainer">
        <input
          type="text"
          formControlName="tips2"
          mask="separator"
          [thousandSeparator]="''"
        />
      </div>
      <div class="createQRcode__body-inputContainer">
        <input
          type="text"
          formControlName="tips3"
          mask="separator"
          [thousandSeparator]="''"
        />
      </div>
    </div>

    <div class="createQRcode__body-about">
      <span>Рейтинг (звездочки)</span>
      <!-- [style]="newStyles" added it into switcher for changed styles-->
      <switcher [title]="title1"></switcher>

      <span>Отзывы</span>
      <switcher [title]="title2"></switcher>

      <span>Впечатления</span>
      <switcher [title]="title3"></switcher>
    </div>

    <div class="createQRcode__body-background">
      <span>Код цвета для подложки</span>
      <color-picker></color-picker>
    </div>

    <div class="createQRcode__body-uploadLogo">
      <upload-logo></upload-logo>
    </div>

    <div class="setupColorBTN">
      <span>Код цвета для кнопки</span>
      <color-picker></color-picker>
    </div>

    <app-buttons [buttonData]="btnText"></app-buttons>
  </div>

  <div class="createQRcode__body-right">
    <span>Так выглядит ваша страница</span>
    <svg-icon [svgSetting]="svgLogo"></svg-icon>
  </div>
</div>
