.createQRcode__title-wrap {
  margin-bottom: 30px;
}

.createQRcode__body-wrap {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 30px;

  width: 100%;

  & .createQRcode__body-center {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(49, 52, 61, 0.05);
    border-radius: 10px;

    padding: 40px 40px 30px;
    gap: 20px;

    & span {
      font-family: "Formular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      color: #313436;
    }

    & .createQRcode__body-about {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: auto;
      margin-bottom: 20px;
      gap: 20px;
      align-items: center;
      align-self: center;
    }

    & .createQRcode__body-background {
      width: 100%;
    }

    & .createQRcode__body-background span {
      display: block;
    }

    & .createQRcode__body-background input {
      width: 100%;
      height: 56px;

      border: 1px solid #c8c9cf;
      border-radius: 8px;
      appearance: none;
    }

    & .createQRcode__body-uploadLogo {
      width: 100%;
    }
  }

  & .createQRcode__body-right {
    width: 34%;

    background: #ffffff;
    border: 2px solid #e1e3e1;
    box-shadow: 0px 5px 20px rgba(49, 52, 61, 0.05);
    border-radius: 10px;
  }
}

.createQRcode__body-wrapForm {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 10px;

  margin-bottom: 20px;

  & .createQRcode__body-inputContainer {
    width: 33%;
    position: relative;

    &::after {
      content: "₽";
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & input {
    width: 100%;

    background: #ffffff;
    border: 1px solid #c8c9cf;
    border-radius: 6px;

    padding: 25px;
  }
}
