<div class="createQRcode__title-wrap">
  <h2>Создать QR-код</h2>
</div>

<!-- ---------------- -->
<!-- section input ----->
<!-- ---------------- -->

<div class="createQRcode__body-wrap">
  <div class="createQRcode__body-center">
    <div class="createQRcode__body-wrapForm">
      <span>Предустановленные суммы чаевых</span>

      <div class="inputTips">
        @for(input of dataToInputChild; track input.inputID) {
        <input-userTips
          [dataToInput]="input"
          (dataFromInput)="dataFromInput($event)"
        ></input-userTips
        >}
      </div>
    </div>

    <!-- ---------------- -->
    <!-- section checkbox -->
    <!-- ---------------- -->

    <div class="createQRcode__body-about">
      @for(item of listSwitchKeys; track $index) {
      <span>{{ enumSwitcher[item] }}</span>
      <switcher
        [title]="item"
        (statusSwitcher)="switcherFromChild($event)"
      ></switcher>
      }
    </div>

    <!-- ------------------- -->
    <!-- section colorPicker -->
    <!-- ------------------- -->

    <div class="createQRcode__body-background">
      <span>Код цвета для подложки</span>
      <color-picker></color-picker>
    </div>

    <!-- ------------------ -->
    <!-- section uploadLogo -->
    <!-- ------------------ -->

    <div class="createQRcode__body-uploadLogo">
      <upload-logo (uploadedFile)="uploadedFile($event)"></upload-logo>
    </div>

    <!------------------- -->
    <!-- section colorBTN -->
    <!-- ---------------- -->

    <div class="setupColorBTN">
      <span>Код цвета для кнопки</span>
      <color-picker></color-picker>
    </div>

    <app-buttons [buttonData]="btnText"></app-buttons>
  </div>

  <div class="createQRcode__body-right">
    <span class="spanBold">Так выглядит ваша страница</span>
    <div class="sectionBorder"></div>

    <div class="createQRcode__right-wrap">
      <svg-icon [svgSetting]="svgLogo"></svg-icon>

      <div class="createQRcode__body-aboutMe">
        <img
          src="../../../assets/images/Avatarz_white_156 1.png"
          alt=""
          class="logo"
          #preview
        />
        <div class="createQRcode__body-info">
          <span class="spanBold"><b>Смирнов Виталий</b></span>
          <span class="spanThink">Сотрудник в Фитнес Территория</span>
        </div>
      </div>
    </div>
    <div class="sectionBorder"></div>

    <span class="spanBold">Сумма чаевых</span>
    <input-userTips
      [dataToInput]="setUpTips"
      (dataFromInput)="dataFromInput($event)"
      (inValid)="inValid($event)"
      [class.inValid]="isValidInput"
    ></input-userTips>
    <div class="createQRcode__body-rightBTNtips">
      @for (btn of arrBTN; track btn.id){
      <app-buttons [buttonData]="btn"></app-buttons>
      }
    </div>

    <div class="rate" [ngClass]="{ open: isOpen, close: isClose }">
      <span class="spanBold">Ваш рейтинг</span>
    </div>
  </div>
</div>
