<div class="aside__body">
  <logo-menu [logoConfig]="logoData" [menuConfig]="menuData"></logo-menu>

  <border-line></border-line>

  <div class="aside__body-padding">
    <div *ngFor="let item of generalGroup; let i = index">
      <app-section
        [item]="item"
        [ngClass]="{
          isMyGroup: getClassForSectionItem(item.ID),
          firstItem: i + 1 === activeMenuItem[0],
          lastItem: i + 1 === activeMenuItem.at(-1),
        }"
      >
      </app-section>
    </div>

    <div *ngFor="let item of logOut">
      <app-section [item]="item"></app-section>
    </div>
  </div>
</div>
