<div class="title">
  <svg-icon [svgSetting]="logoSetting"></svg-icon>
</div>

<div class="aside-body">
  <div *ngFor="let item of generalGroup">
    <app-section [item]="item" [isActive]="getClassForSectionItem(item.ID)">
    </app-section>
  </div>

  <div class="support-wrapper">
    <div class="support">
      <img
        src="../../../assets/images/illustration.png"
        alt="Картинка support"
      />
      <app-buttons [buttonData]="btnText"></app-buttons>
    </div>
  </div>

  <div *ngFor="let item of logOut">
    <app-section [item]="item"> </app-section>
  </div>
</div>
