// :host {
//   padding-top: 27px;
// }
.icon-logo {
  width: 3.0625em;
}

.icon-flag {
  width: 1.2001953125em;
}

.title,
.aside-body {
  margin-top: 27px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.aside-body {
  display: block;
  text-align: center;
}

.aside-body app-section:nth-child(1) {
  /* Стили для первого компонента */
  background-color: red;
}

.aside-body app-section:nth-child(2) {
  /* Стили для второго компонента */
  background-color: blue;
}

.aside-body app-section:nth-child(3) {
  /* Стили для третьего компонента */
  background-color: green;
}

.support-wrapper {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 3vw;
}

.support {
  border-radius: 20px;
  margin: 0px 2%;
  position: relative;
  padding: 23% 0px 7%;
}

.support::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #3bc76b, #3bc76b),
    linear-gradient(0deg, #479b4e, #479b4e),
    linear-gradient(0deg, #3fa949, #3fa949), #54a75c;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 20px;
  pointer-events: none;
}

.support img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20%, -54%);
}
