<div class="aside__body">
  <logo-menu [logoConfig]="logoData" [menuConfig]="menuData"></logo-menu>

  <border-line></border-line>

  <div class="aside__body-padding">
    <div *ngFor="let item of generalGroup; let i = index">
      <app-section [item]="item"> </app-section>
    </div>

    <div class="aside__support">
      <div class="aside__support-content">
        <img
          src="../../../assets/images/illustration.png"
          alt="Картинка support"
        />
        <app-buttons [buttonData]="btnText"></app-buttons>
      </div>
    </div>

    <div *ngFor="let item of logOut">
      <app-section [item]="item"></app-section>
    </div>
  </div>
</div>
