<div class="mobileCard">
  <div class="mobileCard__top">
    <p>{{ table.data }}</p>
    <p>{{ table.tips }}</p>
  </div>

  <border-line></border-line>

  <div class="mobileCard__body">
    <span>{{ titleFilter.commission }}</span
    ><span>{{ table.commission }}</span> <span>{{ titleFilter.country }}</span
    ><span>{{ table.country }}</span
    ><span>{{ titleFilter.user }}</span
    ><span>{{ table.email }}</span> <span>{{ titleFilter.card }}</span
    ><span>{{ table.card }}</span>
  </div>
</div>
