@let userCard = (userCard$ | async);
<ng-container>
  {{ userCard?.activeCard?.smiles | json }}
</ng-container>

<div class="userPreview__top">
  <span class="spanBold">Так выглядит ваша страница</span>
</div>

<border-line></border-line>

<!-- --------------- -->
<!-- section Preview -->
<!-- --------------- -->

<div class="userPreview__about">
  <svg-icon [svgSetting]="svgLogo"></svg-icon>

  <div class="userPreview__about--me">
    <img
      [src]="userCard?.activeCard?.logo_file_id"
      alt="user logo"
      class="userPreview__about--meLogo"
      #preview
    />
    <div class="userPreview__about--meInfo">
      <span class="spanBold"><b>Смирнов Виталий</b></span>
      <span class="spanThink">Сотрудник в Фитнес Территория</span>
    </div>
  </div>
</div>

<border-line></border-line>

<!-- --------------- -->
<!-- section setTips -->
<!-- --------------- -->

<div class="userPreview__setTips">
  <span class="spanBold">Сумма чаевых</span>
  <input-text
    [actualData]="setUpTips"
    (userInput)="validInput($event)"
  ></input-text>

  @if(userCard && userCard.activeCard &&
  userCard.activeCard.preset_payment_sizes){
  <div class="userPreview__setTips--btn">
    @for (btn of arrBTN; track $index){

    <app-buttons
      [buttonData]="{
        text: userCard.activeCard.preset_payment_sizes[$index],
        iconClass: btn.iconClass,
        disabled: btn.disabled,
        background: btn.background,
        color: btn.color,
        isActive: btn.isActive,
        id: btn.id,
        borderStyle: btn.borderStyle,
        boxShadow: btn.boxShadow,
        key: btn.key
      }"
    ></app-buttons>
    }
  </div>
  }
</div>

<!-- ------------------ -->
<!-- section stars-rate -->
<!-- ------------------ -->

<!-- json, типа, "rating":true - будет открывать или закрывать  секцию
 с рейтингом. Но если надо чтобы отображалась еще "нужная" звездочка, надо поменять json, сделать, типа, "rating":{visible:true, "star":4   -->
<div
  class="userPreview__rate"
  [class.userPreview__rate--open]="userCard?.activeCard?.rating"
>
  <span class="spanBold">Ваш рейтинг</span>
  <stars-rate
    [starRateSetup]="dataToStarRate"
    *ngIf="userRateFromStore$ | async as dataToStarRate"
  ></stars-rate>
</div>

<!-- ----------------- -->
<!-- section feedbacks -->
<!-- ----------------- -->

<!-- Я думаю, надо сделать влоенный объект и в рейтинг и отзывы, типа
"reviews":{"hasReviews":true, "text":"bla-bla-bla"} тогда его можно прокинуть внутрь с бэка. Я думаю, туда надо еще положить readonly(true|false) -->

<div
  class="userPreview__feedbacks"
  [class.userPreview__feedbacks--open]="userCard?.activeCard?.reviews"
>
  <span class="spanBold">Ваш отзыв</span>

  <feedbacks
    [feedbackData]="feedback"
    *ngIf="userFeedback$ | async as feedback"
  >
    {{ feedback.text }}
  </feedbacks>
  >
</div>

<!-- --------------- -->
<!-- section amodzie -->
<!-- --------------- -->

<div
  class="userPreview__feeling"
  [class.userPreview__feeling--open]="userCard?.activeCard?.smiles"
>
  <span class="spanBold">Ваши впечатления</span>

  <amodzie
    [amodzieSetting]="amodzieData"
    *ngIf="userAmodzieStore$ | async as amodzieData"
  ></amodzie>
</div>

<div class="userPreview__sendData">
  <app-buttons [buttonData]="btnSendData"></app-buttons>
</div>

<!-- Еще я думаю надо в json положить активное значение кнопки (100,250,500 - какая из них будет подсвечиваться зеленым) -->
