<div class="userPreview__top">
  <span class="spanBold">Так выглядит ваша страница</span>
</div>

<div class="userPreview__sectionBorder"></div>

<!-- --------------- -->
<!-- section Preview -->
<!-- --------------- -->

<div class="userPreview__about">
  <svg-icon [svgSetting]="svgLogo"></svg-icon>

  <div class="userPreview__about--me">
    <img
      [src]="logoSource"
      alt=""
      class="userPreview__about--meLogo"
      #preview
    />
    <div class="userPreview__about--meInfo">
      <span class="spanBold"><b>Смирнов Виталий</b></span>
      <span class="spanThink">Сотрудник в Фитнес Территория</span>
    </div>
  </div>
</div>

<div class="userPreview__sectionBorder"></div>

<!-- --------------- -->
<!-- section setTips -->
<!-- --------------- -->

<div class="userPreview__setTips">
  <span class="spanBold">Сумма чаевых</span>
  <input-user-tips
    [dataToInput]="setUpTips"
    (userInput)="validInput($event)"
  ></input-user-tips>

  <div class="userPreview__setTips--btn">
    @for (btn of arrBTN; track btn.id){
    <app-buttons [buttonData]="btn"></app-buttons>
    }
  </div>
</div>

<!-- ------------------ -->
<!-- section stars-rate -->
<!-- ------------------ -->

<div
  class="userPreview__rate"
  [ngClass]="{
    'userPreview__rate--open': isOpen,
    'userPreview__rate--close': isClose
  }"
>
  <span class="spanBold">Ваш рейтинг</span>
  <stars-rate [starRateSetup]="dataToStarRate"></stars-rate>
</div>

<!-- ----------------- -->
<!-- section feedbacks -->
<!-- ----------------- -->

<div
  class="userPreview__feedbacks"
  [ngClass]="{
    'userPreview__feedbacks--open': isFeedbackOpen,
    'userPreview__feedbacks--close': isFeedbackClose
  }"
>
  <span class="spanBold">Ваш отзыв</span>
  <feedbacks [feedbackData]="feedbackText"></feedbacks>
</div>

<!-- --------------- -->
<!-- section amodzie -->
<!-- --------------- -->

<div
  class="userPreview__feeling"
  [ngClass]="{
    'userPreview__feeling--close': isAmodzieClose,
    'userPreview__feeling--open': isAmodzieOpen
  }"
>
  <span class="spanBold">Ваши впечатления</span>
  <amodzie [amodzieSetting]="amodzieData"></amodzie>
</div>

<div class="userPreview__sendData">
  <app-buttons [buttonData]="btnSendData"></app-buttons>
</div>
