:host {
  --width: auto;
  --height: auto;
  --padding: 11px 30px;
}

button {
  background: linear-gradient(0deg, #3bc76b, #3bc76b), #3bc76b;
  box-shadow: 0px 5px 20px rgba(71, 155, 78, 0.15);
  border: 2px solid black;
  border-radius: 54px;
  padding: var(--padding);

  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: var(--width);
  height: var(--height);

  color: #ffffff;
  cursor: pointer;
}

.icon-add-outline:before {
  content: "\e900";
  color: #ffffff !important;
  font-size: 24px;
  font-size: 24px;
}

.icon-Paper-Download:before {
  content: "\e901";
  color: #777d82;
  font-size: 24px;
}
.icon-PaperDownload:before {
  content: "\e901";
  color: #777d82;
  font-size: 24px;
}
.icon-document:before {
  content: "\e902";
  color: black;
  font-size: 24px;
}

.icon-icon-upload:before {
  content: "\e900";
  color: #55595b;
}
