@mixin flex($juCon: center, $alIt: center) {
  display: flex;
  justify-content: $juCon;
  align-items: $alIt;
}

.wrapTop {
  height: auto;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(49, 52, 61, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;

  &__title {
    @include flex(space-between);
    margin-bottom: 30px;
  }
}

p {
  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #313436;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.wrapBody__amount,
.wrapBody__table {
  height: auto;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(49, 52, 61, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;
}
