.home-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  border: 1px solid black;

  grid-template-columns: 280px 1fr;
  grid-template-rows: 71px 1fr;

  grid-template-areas:
    "aside header"
    "aside main";

  background: #f9fafc;
}

.header {
  grid-area: header;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

.aside {
  grid-area: aside;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);
}
.main {
  grid-area: main;
  width: 100%;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);

}
