<div class="table__top">
  <div class="table__top--mobile">
    <div class="tableTop__onlyMobile">
      <dropdown
        [dropdownItems]="filterMobile"
        [defaultValue]="defaultValue"
        (itemSelected)="itemSelected($event)"
      ></dropdown>
    </div>

    <app-buttons [buttonData]="calendar" class="calendar"></app-buttons>

    <!-- <ng-container> -->
    @if(windowSize$ | async; as windowSize) { @if ((windowSize['1000'] === true)
    && (windowSize['768'] === false)) {
    <div
      class="hiddenDataInput table__top--dataMiddle"
      [ngClass]="{ hidden: !visibility, visible: visibility }"
    >
      <data-input [dateForBTN]="transmitToBTN"></data-input>
    </div>
    }}
    <!-- </ng-container> -->
  </div>

  <div class="table__top--tabs">
    <div class="table__top--tabsUnit">
      <div
        class="table__top--tabsUnitElement"
        *ngFor="let tab of tabs"
        (click)="clickOnTab(tab.key)"
        [ngClass]="classActiveTab(tab.key)"
      >
        {{ tab.value }}
      </div>
    </div>
    <!-- <ng-container> -->
    @if(windowSize$ | async; as windowSize) { @if (windowSize['1000'] === false)
    {
    <div class="table__top--topFilter">
      <data-input [dateForBTN]="transmitToBTN"></data-input>
    </div>
    }}
    <!-- </ng-container> -->
  </div>

  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<!-- <ng-container> -->
@if(windowSize$ | async; as windowSize){ @if (windowSize['768'] === true){
<div
  class="hiddenDataInput table__data--small"
  [ngClass]="{ hidden: !visibility, visible: visibility }"
>
  <data-input [dateForBTN]="transmitToBTN"></data-input>
</div>
} }
<!-- </ng-container> -->

<div class="table__filter">
  <div class="table__filter--cell" *ngFor="let filter of filters">
    <filter
      [titleFilter]="filter.value"
      [userFilterFromParent]="userFilter"
      (titleFilterFromChild)="setUserFilter($event)"
    ></filter>
  </div>
</div>

<border-line class="footerBorder"></border-line>

<
<div class="table__total">
  @let totalTop = (tableTotal$ | async) ?? [];
  <div>
    <span>Всего чаевых:</span>
    <span>{{ totalTop?.[0] }}</span>
  </div>
  <div>
    <span>Всего комиссия:</span>
    <span>{{ totalTop?.[1] }}</span>
  </div>
  <div>
    <span>Средний чек:</span>
    <span>{{ totalTop?.[2] }}</span>
  </div>
</div>

<div class="table__body">
  <div class="table__body--row" *ngFor="let operation of tableBody$ | async">
    <div
      class="table__body--cell"
      *ngFor="let key of getKeys(tableBody$ | async)"
    >
      {{ operation[key] }}
    </div>
  </div>
</div>

<!-- <ng-container> -->
<!-- @if (tableBody$ |async; as data) -->
@let table = (tableBody$ |async) ?? []; @for(item of table; track item.id){
<mobile-transaction-card
  [table]="item"
  class="table__body--mobileCard"
></mobile-transaction-card>
}
<!-- </ng-container> -->

<border-line class="footerBorder"></border-line>

<div class="table__total">
  @let total = (tableTotal$ | async) ?? [];
  <div>
    <span>Всего чаевых:</span>
    <span>{{ total?.[0] }}</span>
  </div>
  <div>
    <span>Всего комиссия:</span>
    <span>{{ total?.[1] }}</span>
  </div>
  <div>
    <span>Средний чек:</span>
    <span>{{ total?.[2] }}</span>
  </div>
</div>
