:host {
  height: auto;
}

.wrapTableTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100%;
  // min-width: 1100px;
}

.container__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
}

.tabsLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableTop__onlyMobile {
  width: 247px;
  height: 48px;
  display: none;

  background: #ffffff;

  dropdown {
    --bgColor: #ffffff;
    --brRadius: 46px;
  }
}

.calendar {
  --padding: 12px;
  display: none;
}

.hiddenDataInput {
  margin-top: 8px;
  transition: max-height 1s;
  transform-origin: top;

  &.hidden {
    max-height: 0px;
    overflow: hidden;
  }

  &.visible {
    max-height: 59px;
    overflow: visible;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background: #ffffff;
  border: 1px solid #e1e3e1;
  border-radius: 40px;
  flex-shrink: 2;
}

// .wrapTable app-buttons {
//   color: #fff;
// }

.tab-element {
  // min-width: 0;
  flex-shrink: 3;
  padding: 8px 20px;
  border-radius: 50px;

  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #313436;

  // width: min-content;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 130px;

  // height: 85px;

  &:hover {
    cursor: pointer;
  }
}

.isActive {
  background: rgba(71, 155, 78, 0.1);
}

.bodyTable {
  width: 100%;
}
.rowTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  width: 100%;
}

.cellTable {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101112;
}

.containerFilter {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: column;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  box-sizing: border-box;
}

.cellFilter {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  width: 100%;

  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  // line-height: 20px;

  color: #101112;
}

.tableTotal {
  display: flex;
  font-family: "Formular";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 7.5px 0;

  color: #101112;
}

.tableTotal span {
  margin: 12px;

  &:nth-child(even) {
    color: green;
  }
}

.footerBorder {
  --mb: 0px;
}

mobile-transaction-card {
  display: none;
}

@media (max-width: 1330px) {
  .tableTop__onlyMobile {
    display: block;
  }
  .tabsLeft {
    display: none;
  }

  .calendar {
    display: block;
  }

  .container__left {
    display: flex;
  }

  dropdown {
    display: block;
  }

  // .contBottom.visible {
  //   overflow: visible;
  // }

  .tabsBody {
    display: none;
  }
}

// @media (max-width: 1100px) {
//   .tabs {
//     padding: 4px 4px;
//     gap: 2px;
//   }

//   .tab-element {
//     padding: 8px 15px;
//     width: min-content;
//     height: 85px;
//   }
// }

@media (max-width: 768px) {
  .contLeft.visible {
    overflow: hidden !important;
  }

  //   .containerFilter {
  //     display: none;
  //   }

  //   .rowTable {
  //     display: none;
  //   }

  //   mobile-transaction-card {
  //     display: flex;
  //     justify-content: center;
  //     align-items: stretch;
  //     flex-direction: column;
  //     gap: 10px;
  //     border-radius: 10px;
  //   }

  //   .wrapTable app-buttons {
  //     color: #e5e5e5;
  //   }
}

// @media (max-width: 450px) {
//   .tableTotal {
//     display: block;
//   }
// }
