<div class="wrapTableTop">
  <div class="tableTop__onlyMobile">
    <dropdown
      [dropdownItems]="filterMobile"
      (itemSelected)="itemSelected($event)"
    ></dropdown>
  </div>
  <div class="tabs">
    <div
      class="tab-element"
      *ngFor="let tab of tabs"
      (click)="clickOnTab(tab.key)"
      [ngClass]="classActiveTab(tab.key)"
    >
      {{ tab.value }}
    </div>
    <data-input [dateForBTN]="transmitToBTN"></data-input>
  </div>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="containerFilter">
  <div class="cellFilter" *ngFor="let filter of filters">
    <filter
      [titleFilter]="filter.value"
      [userFilterFromParent]="userFilter"
      (titleFilterFromChild)="setUserFilter($event)"
    ></filter>
  </div>
</div>

<div class="tableTotal">
  <span>Всего чаевых:</span>
  <span>{{ (tableTotal$ | async)?.[0] }}</span>
  <span>Всего комиссия:</span>
  <span>{{ (tableTotal$ | async)?.[1] }}</span>
  <span>Средний чек:</span>
  <span>{{ (tableTotal$ | async)?.[2] }}</span>
</div>

<div class="bodyTable">
  <div class="rowTable" *ngFor="let operation of tableBody$ | async">
    <div class="cellTable" *ngFor="let key of getKeys(tableBody$ | async)">
      {{ operation[key] }}
    </div>
  </div>

  <border-line class="footerBorder"></border-line>

  <div class="tableTotal">
    <span>Всего чаевых:</span>
    <span>{{ (tableTotal$ | async)?.[0] }}</span>
    <span>Всего комиссия:</span>
    <span>{{ (tableTotal$ | async)?.[1] }}</span>
    <span>Средний чек:</span>
    <span>{{ (tableTotal$ | async)?.[2] }}</span>
  </div>
</div>
