:host {
  --bgColor: #e1e3e1;
  --height: 2px;
  --mb: 30px;
  --mt: 0px;
}
.userPreview__sectionBorder {
  background: var(--bgColor);
  height: var(--height);
  margin-bottom: var(--mb);
  margin-top: var(--mt);
}
