<div class="cardDetail">
  <h2>Реквизиты</h2>

  <div class="cardDetail__body">
    <img
      src="../../../assets/images/bankCard/Card-min.png"
      alt="Банковская карточка"
    />

    <div class="cardDetail__userCard">
      <div class="cardDetail__userCard--activeType">
        <custom-radio-button [radioConfig]="radioConfig"></custom-radio-button>
        <img [src]="typeBankCard()" alt="Тип банковской карточки" />
      </div>
      <span>{{ numberCard() }}</span>
    </div>

    <app-buttons
      [text]="removeCard.text"
      [background]="removeCard.background"
      [borderRadius]="removeCard.borderRadius"
      [borderStyle]="removeCard.borderStyle"
      [color]="removeCard.color"
      [boxShadow]="removeCard.boxShadow"
    ></app-buttons>
  </div>

  <registration-card></registration-card>
</div>
