@let cards = user$().cards ?? [];
<div class="cardDetail">
  <h2>Реквизиты</h2>

  <div class="cardDetail__body">
    <div class="cardDetail__top">
      <bank-card
        [balance]="activeCard.balansCard"
        [typeCard]="activeCard.typeBankCard"
        [name]="activeCard.nameCardHolder"
        [number]="activeCard.numberCard"
        [data]="activeCard.expirationDate"
      ></bank-card>

      <!-- NOTE: if user didn't add bank card by registration, don't show this section -->

      @for (card of cards; track card.card_number + $index) {
        <div
          class="cardDetail__userCard"
          (click)="userActiveCard(card)"
          (keyup)="userActiveCard(card)"
          tabindex="0"
        >
          <div class="cardDetail__userCard--activeType">
            <custom-radio-button
              [radioConfig]="radioConfig()"
            ></custom-radio-button>
            <img [src]="card.typeCard" alt="Тип банковской карточки" />
          </div>
          <span>{{ card.card_number | bankCardNumberSpaces }}</span>
        </div>
      }

      <app-buttons
        [text]="removeCard.text"
        [background]="removeCard.background"
        [borderRadius]="removeCard.borderRadius"
        [borderStyle]="removeCard.borderStyle"
        [color]="removeCard.color"
        [boxShadow]="removeCard.boxShadow"
        (click)="removeBankCard()"
      ></app-buttons>
    </div>

    <registration-card
      (cardDataChange)="setNewCard($event)"
    ></registration-card>

    <app-buttons borderStyle="none" (click)="addBankCard()"
      >Привязать карту</app-buttons
    >
  </div>
</div>
