<div class="cardDetail">
  <h2>Реквизиты</h2>

  <div class="cardDetail__body">
    <div class="cardDetail__top">
      <bank-card
        [balance]="activeCard.balansCard"
        [typeCard]="activeCard.typeBankCard"
        [name]="activeCard.nameCardHolder"
        [number]="activeCard.numberCard"
        [data]="activeCard.expirationDate"
      ></bank-card>

      @for (card of user().cards; track card.card_number || $index) {
        <div
          class="cardDetail__userCard"
          (click)="setActiveCard(card)"
          (keyup)="setActiveCard(card)"
          tabindex="0"
        >
          <div class="cardDetail__userCard--activeType">
            @for (btn of radioConfig(); track btn.id) {
              <custom-radio-button [radioConfig]="btn"></custom-radio-button>
            }
            <img [src]="typeBankCard()" alt="Тип банковской карточки" />
          </div>
          <span>{{ card.card_number | bankCardNumberSpaces }}</span>
        </div>
      }

      <app-buttons
        [text]="removeCard.text"
        [background]="removeCard.background"
        [borderRadius]="removeCard.borderRadius"
        [borderStyle]="removeCard.borderStyle"
        [color]="removeCard.color"
        [boxShadow]="removeCard.boxShadow"
      ></app-buttons>
    </div>

    <registration-card
      [isTitle]="isTitle"
      [isButtons]="isButtons"
    ></registration-card>

    <app-buttons
      [text]="addCard.text"
      [borderStyle]="addCard.borderStyle"
      (click)="addNewCard()"
    ></app-buttons>
  </div>
</div>
