@mixin flex($justify: center, $alight: center, $gap: 0px, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $alight;
  gap: $gap;
  flex-direction: $direction;
}

.cardDetail {
  background: #f9fafc;
  padding: 25px 35px;
  height: 100vh;

  &__top {
    width: 83.334%;

    & bank-card {
      display: block;
      margin-bottom: 1.25rem;
    }

    & > img {
      margin-bottom: 1.25rem;
    }
  }

  & h2 {
    margin-bottom: 30px;
  }

  &__body {
    display: inline-block;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
  }

  &__userCard {
    @include flex($gap: 8px, $justify: start);
    background-color: #f4f5f7;
    border-radius: 8px;

    &:last-of-type {
      margin-bottom: 1.375rem;
    }
  }

  &__about {
    // padding: 7px 0 7px 12px;
    @include flex($gap: 12px, $justify: start);

    width: 100%;

    & custom-radio-button {
      --mbElement: 0px;
      --gap: 0px;
      --background: #f4f5f7;
      --padding: 12px;
      --flex-grow: 2;
      --border-radius: 8px;
      --margin-bottom: 6px;
      --borderActive: solid 2px #54a75c;
      width: 100%;
    }
  }

  registration-card {
    --width: 420px;
  }

  app-buttons {
    --display: block;
    --width: 100%;
  }
}
