input {
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: none;
}
.checkBox__wrap {
  & svg-icon {
    cursor: pointer;
    --width: 20px;
    --height: 20px;
  }
}
