:host {
  cursor: pointer;

  display: inline-block;
  justify-self: left;
  vertical-align: middle;
  align-items: center;
  // width: var(--width);
  // height: var(--height);
  --fill: #777d82;
}

.isActive {
  fill: var(--fill);
}
