.wrapForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.wrapInput {
  width: 110px;
}

input {
  width: 100%;
  border-radius: 8px;
}
input:nth-child(1) {
  margin-bottom: 5px;
}
