<div
  class="userInputWrap"
  [class]="{
    rub: unitCurrency === 'rub',
    usd: unitCurrency === 'usd',
    noneCurrency: unitCurrency === 'none',
  }"
>
  <input
    #input="ngModel"
    [attr.type]="type"
    [attr.placeholder]="placeholder"
    [disabled]="disabledState"
    [ngModel]="valueCVA"
    (input)="inputValue($event)"
    (blur)="onTouched()"
    [mask]="mask"
    [prefix]="prefix"
    [dropSpecialCharacters]="dropSpecialCharacters ?? null"
    appMyValidator
    [validationSettings]="validationSettings"
    [minlength]="validationSettings.minlength || 0"
    [type]="type"
  />
</div>
@if (input.errors?.["minlength"]) {
  <span class="spanEr"
    >Должно быть не меньше {{ validationSettings.minlength }} знаков</span
  >
}
