<div
  class="userInputWrap"
  [class]="{
    rub: unitCurrency === 'rub',
    usd: unitCurrency === 'usd',
    noneCurrency: unitCurrency === 'none',
  }"
>
  <input
    #input="ngModel"
    [attr.type]="type"
    [attr.placeholder]="placeholder"
    [disabled]="disabledState"
    [ngModel]="valueCVA"
    (input)="inputValue($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [mask]="mask"
    [prefix]="prefix"
    [dropSpecialCharacters]="dropSpecialCharacters ?? null"
    appMyValidator
    [validationSettings]="validationSettings"
    [minlength]="validationSettings.minlength || 0"
    [type]="type"
    autocomplete="current-password"
  />
</div>
