<div
  class="userInputWrap"
  [class]="{
    rub: actualData.unitCurrency === 'rub',
    usd: actualData.unitCurrency === 'usd',
    noneCurrency: actualData.unitCurrency === 'none'
  }"
>
  <input
    [type]="actualData.type"
    [placeholder]="actualData.placeholder"
    [disabled]="actualData.disabled"
    [actualData]="actualData"
    [value]="actualData.value"
    (input)="inputValue($event)"
    [mask]="actualData.mask"
    [dropSpecialCharacters]="actualData.dropSpecialCharacters ?? null"
    myValidator
  />
</div>
