@let cards = cards$(); @if ( cards && cards.cards && cards.cards.length > 0){

<div class="myQR__wrapTop">
  <h2>Мои QR</h2>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="myQR__wrapBody">
  <div class="myQR__cards">
    @for (card of cards?.cards; track card.id){
    <qr-card
      [src]="src"
      [backgroundCard]="card.background_hex_color"
      [btnColor]="card.button_hex_color"
      [id]="card.id"
    ></qr-card
    >}
  </div>
</div>
} @else {
<ng-container class="myQR__error">
  <p>
    Карточек нет, можете их добавить вот <a routerLink="/create-qrcode">тут</a>
  </p>
</ng-container>
}
