<!-- @let background = (userColor$ | async); -->
@let data = (cards$ | async);
<ng-container>
  {{ data?.cards | json }}
</ng-container>

<!-- =============================================== -->

<div class="myQR__wrapTop">
  <h2>Мои QR</h2>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="myQR__wrapBody">
  <div class="myQR__card">
    @for (item of data?.cards; track cards$){
    <qr-card [src]="src" [backgroundCard]="item.background_hex_color"></qr-card
    >}
  </div>
</div>
