:host {
  height: auto;
}

@mixin flexCenter($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin general($direction: column, $gap: 20px, $mb: 30px, $p: 0px 30px) {
  flex-direction: $direction;
  gap: $gap;
  margin-bottom: $mb;
  padding: $p;
}

.userPreview__Span {
  padding: 25px 30px 0px;

  & span {
    margin-bottom: 25px;
    display: block;
  }
}

.sectionBorder {
  background: #e1e3e1;
  height: 2px;
  margin-bottom: 30px;
}

.userPreview__about,
.userPreview__setTips {
  @include flexCenter(center, start);
  @include general(column);

  & .userPreview__about--me {
    @include flexCenter(left, center);
    gap: 20px;

    & .logo {
      width: 33%;
      max-width: 90px;
      height: 90px;
      overflow: hidden;
      background-color: burlywood;
      border-radius: 10px;
    }

    & .userPreview__about--info {
      width: 66%;

      & span {
        display: block;

        &:nth-child(1) {
          margin-bottom: 18px;
        }
      }
    }
  }

  & .userPreview__setTips--btn {
    @include flexCenter(center, center);
    gap: 11px;
    margin-bottom: 20px;
    width: 100%;

    & .isActive {
      background-color: green;
      border: 1px solid black;
    }
  }
}

.userPreview__rate {
  @include flexCenter(center, center);
  @include general(column);
  overflow: hidden;
}

.open {
  height: 85px;
  transition: all 1s;
  transform-origin: top;
}

.close {
  height: 0;
  transition: all 1s;
  transform-origin: top;
  margin: 0;
}

.userPreview__rate > span {
  display: block;
  text-align: center;
}

.userPreview__feedbacks {
  @include general(column, 0px);
  @include flexCenter($align: "stretch");
  overflow: hidden;
  width: 100%;

  & span {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
  }
}

.feedbackClose {
  height: 0px;
  transform-origin: top;
  margin-bottom: 0;
  transition: all 1s;
  width: 100%;
}

.feedbackOpen {
  height: 202px;
  transform-origin: top;
  margin-bottom: 30px;
  transition: all 1s;
  width: 100%;
  // align-items: stretch;
}

.userPreview__feeling {
  @include general(column, 0px);
  @include flexCenter($align: "stretch");
  overflow: hidden;
  width: 100%;

  & span {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
  }
}

.amodzieClose {
  height: 0px;
  transform-origin: top;
  margin-bottom: 0;
  transition: all 1s;
  width: 100%;
}

.amodzieOpen {
  height: 96px;
  transform-origin: top;
  margin-bottom: 30px;
  transition: all 1s;
  width: 100%;
}

.userPreview__sendData {
  @include flexCenter();
  margin-bottom: 30px;
}
