<ng-template #invalidInput let-control="control" let-minLength="minLength">
  @if (control?.errors?.["required"]) {
    <span class="spanErr">Обязательное поле</span>
  }
  @if (control?.errors?.["minlength"]) {
    <span class="spanErr">В поле не менее {{ minLength }} символов</span>
  }
  @if (control?.errors?.["numbersInName"]) {
    <span class="spanErr">Некорректное имя</span>
  }
</ng-template>

<div class="popup__wrap" [class.open]="isOpen">
  <div class="popup">
    <div class="popup__top">
      <h2>Идентификация аккаунта</h2>
    </div>

    <svg-icon [iconID]="iconClose" (click)="closePopUp()"></svg-icon>

    <stepper [stepperData]="stepperData"></stepper>

    <div class="popup__down">
      @if (step === 0) {
        <h3>Персональные данные:</h3>
        <form [formGroup]="userForm">
          <div class="popup__down--name">
            <span>Имя</span>
            <input-text
              formControlName="name"
              placeholder="Введите имя"
            ></input-text>
            @if (
              userForm.get("name")?.invalid &&
              (userForm.get("name")?.dirty || userForm.get("name")?.touched)
            ) {
              <ng-container
                *ngTemplateOutlet="
                  invalidInput;
                  context: { control: userForm.get('name'), minLength: 3 }
                "
              ></ng-container>
            }
          </div>

          <div class="popup__down--lastName">
            <span>Фамилия</span>
            <input-text
              formControlName="lastName"
              placeholder="Введите фамилию"
            ></input-text>
            @if (
              userForm.get("lastName")?.invalid &&
              (userForm.get("lastName")?.dirty ||
                userForm.get("lastName")?.touched)
            ) {
              <ng-container
                *ngTemplateOutlet="
                  invalidInput;
                  context: { control: userForm.get('lastName'), minLength: 2 }
                "
              ></ng-container>
            }
          </div>

          <div class="popup__down--email">
            <span>E-mail</span>
            <input-text
              formControlName="email"
              placeholder="Введите E-mail"
            ></input-text>
            @if (
              userForm.get("email")?.invalid &&
              (userForm.get("email")?.dirty || userForm.get("email")?.touched)
            ) {
              <ng-container
                *ngTemplateOutlet="
                  invalidInput;
                  context: { control: userForm.get('email') }
                "
              ></ng-container>
            }
          </div>

          <span>Страна</span>
          <dropdown
            formControlName="country"
            [defaultValue]="countryDefaultValue"
            [dropdownItems]="countryDropdownItems"
          ></dropdown>

          <span>Город</span>
          <dropdown
            formControlName="city"
            [defaultValue]="cityDefaultValue"
            [dropdownItems]="cityDropdownItems"
          ></dropdown>
        </form>
      }
      @if (step === 1) {
        <h3>Выберите ваш тип</h3>

        <div class="user__set">
          <custom-check-box
            [iconState]="payerConfig"
            (setCheckbox)="userSettingCheckbox('payer', $event)"
          ></custom-check-box>
          <span>Плательщик</span>
        </div>
        <div class="user__set">
          <custom-check-box
            [iconState]="recipientConfig"
            (setCheckbox)="userSettingCheckbox('recipient', $event)"
          ></custom-check-box>
          <span>Получатель</span>
        </div>
        <div class="user__set">
          <custom-check-box
            [iconState]="agentConfig"
            (setCheckbox)="userSettingCheckbox('agent', $event)"
          ></custom-check-box>
          <span>Агент</span>
        </div>
        <div class="user__set">
          <custom-check-box
            [iconState]="busineccConfig"
            (setCheckbox)="userSettingCheckbox('businecc', $event)"
          ></custom-check-box>
          <span>Бизнес</span>
        </div>
      }
      @if (step === 2) {
        <h3>Введите данные вашей карты</h3>
      }

      <div class="button" [class.twoBTN]="step > 0">
        @if (step > 0) {
          <app-buttons
            [text]="buttonBack.text"
            [borderStyle]="buttonBack.borderStyle"
            (click)="lastStep()"
          ></app-buttons>
        }

        <app-buttons
          [text]="buttonNext.text"
          [borderStyle]="buttonNext.borderStyle"
          (click)="nextStep()"
        ></app-buttons>
      </div>
    </div>
  </div>
</div>
