<!-- [menuState]="isOpen" it's need for directives, which is controlling state components -->
<app-aside
  class="tablet"
  [ngClass]="{ close: !menuState, open: menuState }"
  escClose
  (menuClosedByESC)="onMenuClosed($event)"
  clickOutside
  (menuClosedByClick)="onMenuClosedByClick($event)"
  [menuState]="isOpen"
></app-aside>

<div class="wrapTop">
  <h2>Главная</h2>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="wrapChart">
  <div class="chart__body">
    <h2>Статистика входящих оплат</h2>
    <chart></chart>
  </div>
</div>

<div class="wrapTable">
  <table></table>
</div>

<div
  class="overlay"
  [ngClass]="{ shadowActive: isShadow, noShadowActive: !isShadow }"
></div>
