:host {
  // margin: 30px;
  // background: #ffffff;
  // box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);
}

app-aside.tablet {
  position: absolute;
  top: 0;
  left: 0;
  --width: 280px;
}

app-aside.tablet.close {
  transform: translateX(-100%);
  transition: transform 1s;
}

app-aside.tablet.open {
  transform: translateX(0);
  transition: transform 1s;
  z-index: 250;
}

.wrapTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

h2 {
  font-family: "Formular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;

  color: #121212;
}
.wrapTable,
.wrapChart {
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 59, 65, 0.08);
  // min-width: 1160px;
}
.wrapChart {
  & h2 {
    display: block;
    width: 100%;
    align-items: start;
  }
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  width: 100%;
}

chart {
  width: 90%;
  height: 250px;
}

// .shadowActive {
//   background-color: rgba(16, 16, 17, 0.3);
//   // position: fixed;
//   // left: 0;
//   // top: 0;
//   // width: 100%;
//   // height: 100%;
//   // z-index: 50;
// }
