.wrapTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 57px 0 30px;
  // margin: 30px 57px 0 30px;
}

h2 {
font-family: 'Formular';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
align-items: center;

color: #121212;
}
.wrapTable {
  width: 100%;
  padding: 0 30px;
}

table {
  width: 100%;
}
