:host {
  display: flex;

  justify-content: start;
  align-items: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px;
  clip-path: inset(0 0 0 0 round 10px);
  overflow: auto;
}
