<div class="card__wrap">
  <div class="card__title">
    <span>Ресторан Жиши-Суши</span>
    <svg-icon [svgSetting]="svgSetting"></svg-icon>
  </div>

  <div class="card__body">
    <div class="card__body-qrWrap">
      <img [src]="src" alt="" />
    </div>
  </div>

  <div class="card__footer">
    <div class="card__footer-left">
      <svg-icon [svgSetting]="svgSettingFooter1"></svg-icon>
      <svg-icon [svgSetting]="svgSettingFooter2"></svg-icon>
    </div>
    <div class="card__footer-right">
      <svg-icon [svgSetting]="svgSettingFooter3"></svg-icon>
      <svg-icon [svgSetting]="svgSettingFooter4"></svg-icon>
    </div>
  </div>
</div>
<!-- переделать свг-иконки на кнопки -->
