<div class="card__wrap">
  <div class="card__title">
    <span>Ресторан Жиши-Суши</span>
    <svg-icon [svgSetting]="svgSetting"></svg-icon>
  </div>

  <div class="card__body">
    <div class="card__body--qrWrap">
      <img [src]="src" alt="" />
    </div>
  </div>

  <div class="card__footer">
    <div class="card__footer--left">
      <svg-icon [svgSetting]="svgChartIcon"></svg-icon>
      <svg-icon [svgSetting]="svgShareIcon"></svg-icon>
    </div>
    <div class="card__footer--right">
      <svg-icon [svgSetting]="svgEditIcon"></svg-icon>
      <svg-icon [svgSetting]="svgDeleteIcon"></svg-icon>
    </div>
  </div>
</div>
<!-- переделать свг-иконки на кнопки -->
