<div class="wrapTableTop">
  <div class="tabs">
    <div
      class="tab-element"
      *ngFor="let item of tabs"
      (click)="clickOnTab(item.id)"
      [ngClass]="classActiveTab(item.id)"
    >
      {{ item.name }}
    </div>
    <data-input [dateForBTN]="transmitToBTN"></data-input>
  </div>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="containerFilter">
  <div class="cellFilter" *ngFor="let filter of filters">
    <filter [title_filter]="filter"></filter>
  </div>
</div>

<div class="bodyTable">
  <div class="rowTable" *ngFor="let operation of operations">
    <div class="cellTable">{{ operation.data }}</div>
    <div class="cellTable">{{ operation.country }}</div>
    <div class="cellTable">{{ operation.tips }}</div>
    <div class="cellTable">{{ operation.commission }}</div>
    <div class="cellTable">{{ operation.email }}</div>
    <div class="cellTable">{{ operation.card }}</div>
  </div>
</div>
