<div class="wrapTableTop">
  <div class="tabs">
    <div
      class="tab-element"
      *ngFor="let tab of tabsArray"
      (click)="clickOnTab(tab.key)"
      [ngClass]="classActiveTab(tab.key)"
    >
      {{ tab.value }}
    </div>
    <data-input [dateForBTN]="transmitToBTN"></data-input>
  </div>
  <app-buttons [buttonData]="btnText"></app-buttons>
</div>

<div class="containerFilter">
  <div class="cellFilter" *ngFor="let filter of filters">
    <filter [titleFilter]="filter"></filter>
  </div>
</div>

<div class="bodyTable">
  <div class="rowTable" *ngFor="let operation of operations">
    <div class="cellTable" *ngFor="let key of keys">
      {{ operation[key] }}
    </div>
  </div>
</div>
