:host {
  display: block;
  margin: 0 10px;
}

app-section .section-title {
  color: red;
}

a {
  display: flex;
  justify-content: left;
  align-items: center;
  // margin: 0 10px;
  gap: 10px;
  padding: 20px 17px;
  // color: none;
}

:host(.isActive) {
  display: block;
  // color: red;
  background: linear-gradient(
      0deg,
      rgba(59, 199, 107, 0.05),
      rgba(59, 199, 107, 0.05)
    ),
    linear-gradient(0deg, rgba(71, 155, 78, 0.05), rgba(71, 155, 78, 0.05)),
    linear-gradient(0deg, rgba(63, 169, 73, 0.05), rgba(63, 169, 73, 0.05)),
    rgba(84, 167, 92, 0.05);
  border-radius: 10px;
}

:host(.isMyGroup) {
  // margin: 0px 10px;
  display: block;

  border-radius: 0;
  background: rgba(248, 57, 57, 0.05);
}

:host(.isActive) .section-title {
  color: #54a75c;
}

// app-section {
//   display: flex;
//   justify-content: start;
//   align-items: start;
//   gap: 15px;
//   padding: 18px;

//   &.active {
//     fill: green;
//   }
//   &.hover {
//     cursor: pointer;
//   }
// }

// .section__title {
//   font-family: "Formular";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22px;

//   color: #313436;
// }

// svg {
//   width: 24px;
//   height: 24px;
//   fill: #777d82;
// }
