.section {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 15px;
  padding: 18px;

  &.active {
    fill: green;
    border: solid 1px black;
  }
  &.hover {
    cursor: pointer;
  }
}

.section__title {
  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #313436;
}

svg {
  width: 24px;
  height: 24px;
  fill: #777d82;
  // fill: red;
  // --color1: red;
}
