.section {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 15px;
  padding: 18px;

  &.active {
    fill: green;
   }
  &.hover {
    cursor: pointer;
  }
}

.isActive {
  background-color:rgba(248, 57, 57, 0.05);
  color: #3bc76b;
  margin: 0 10px;
  padding-left: 8px ;
}














.section__title {
  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #313436;
}

svg {
  width: 24px;
  height: 24px;
  fill: #777d82;
  // fill: red;
  // --color1: red;
}
