.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: rgba(184, 182, 182, 0.3);
}

svg-icon {
  --height: 64px;
  --width: 64px;
  --fill: black;
  position: relative;
  z-index: 1001;

  animation: spinner 4s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
